* {
    box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}


/*

font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sirin Stencil', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'Supermercado One', cursive;
font-family: 'Bungee Outline', cursive;

font-family: 'Open Sans', sans-serif;

*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #666F9A;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}


.game {
    height: 95vh;
    justify-content: flex-end;
}

#score {
    text-align: right;
    width: 60%;
    padding-right: 10px;
}

.scoreanimation {
    animation: score 0.5s alternate-reverse 1;
}

@keyframes score {
    0% {font-size: 1em;}
    100% {font-size: 2em;
    color: #FF7373;}
}

#score,
#pause {
    margin: 0;
    padding-top: 10px;
    font-size: 1.2em;
    text-transform: uppercase;

}

#pause {
    text-align: left;
    width: 40%;
    padding-left: 10px;
}

#pause, 
#continue,
#quit {
    cursor: pointer;
}




#pausescreen {
    width: 30vw;
    height: 100vh;
    z-index: 1000;
    background: lightblue;
    text-align: center;
}

.pause-screen-animation {
    animation: pauseAnimation 0.8s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.continue-screen-animation {
    animation: continueAnimation 0.8s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes pauseAnimation {
    0%   {width: 0vw;}
    100% {width: 100vw;}
}

@keyframes continueAnimation {
    0%   {width: 100vw;}
    80%  {opacity: 1;}
    100% {width: 20vw;
        opacity: 0;}
}

.text-fade-in {
    animation: fadeIn 0.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text-fade-out {
    animation: fadeOut 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.top, 
.game, 
#start {
    width: 100%;
}

#start {
    text-align: center;
    padding: 15%;
    color: papayawhip;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.header {
    font-size: 3vw;
    height: 10vh;
    color: lightblue;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.pause-header {
    margin-top: 10%;
    font-size: 5vw;
    height: 10vh;
    font-family: 'Luckiest Guy', cursive;
    color: #666F9A;

}


ul {
    padding: 0;
}

li {
   list-style: none;
   padding-top: 15px;
}

h1 {
    margin-bottom: 0px;
    text-align: center;
}

h3 {
    margin: 0 auto;
}



button {
    min-width: 10vw;
    padding: 3%;
    background: #FF7373;
    border: none;
    border-radius: 5px;
    color: papayawhip;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 50px;
    animation: pulse 3s alternate infinite ease-in-out;
}

@keyframes pulse {
    0% {background: #FF7373;}
    100%   {background: #B73563;}
}
    

#total-score {
    margin-top: 10%;
}

#alt0,
#alt1, 
#alt2 {
    justify-content: space-evenly;
    text-align: center;
    border-radius: 100px;
    background: papayawhip;
    cursor: pointer;
}

#alt0:hover, 
#alt1:hover, 
#alt2:hover {
    background: #FF7373;
}

.gridcontainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100vh;
    padding-bottom: 20px;
}

.numbersbar {
    justify-content: space-around;
    position: relative;
    animation: down 5s linear;
    animation-iteration-count: 1;
}

.bottom {
    bottom: 0;
}


@keyframes down {
    0%   {top:-100px;}
    100% {top: 150%;}
}

#choose {
    width: 100%;
    height: 20%;
    bottom: 0px;
    justify-content: space-around;
    position: relative;
}

.numberstyle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 500;

    user-select: none;
}

#topgame {
    height: 80%;
}

.partner,
.player,
.numbers{
    text-align: center;
    border-radius: 100px;
    margin-top: 5px;
}

.player,
.partner{
    background: #FF7373;
}

/* .partner {
    background: lightblue;
} */

.empty {
    border: 2px solid #FF7373;
    border-radius: 100px;
}

.fixed {
    position: fixed;
}

.topbar {
    height: 10%;
    color: papayawhip;
}

.gange {
    text-align: center;
    width: max-content;
    margin-top: 10%;
    animation: fadeIn 2s;
    animation-iteration-count: 1;
    /* font-family: 'Luckiest Guy', cursive; */
    color: #ffefd5;
    font-size: 1.5em;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.hidden {
    display: none;
}

/* PAUSE GAME */

.pausegame {
    animation-play-state: paused;
}

.text {
    color: #8F89CE;
    text-transform: uppercase;
}



            /*-------------*/
            /* MEDIA QUERY */
            /*-------------*/


@media screen and (max-width: 800px) {

    .left, 
    .right {
        display: hidden;
    }

    .center {
        width: 100vw;
    }
    
    body {
        font-size: 12px;
    }

    .header {
        font-size: 4vw;
    }


  }



@media screen and (max-width: 500px) {
    
    .left, 
    .right {
        display: hidden;
    }

    .center {
        width: 100vw;
    }

    .header {
        font-size: 5vw;
    }


  }






