* {
    box-sizing: border-box;
}

::-webkit-scrollbar { 
    display: none; 
}


/*

font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sirin Stencil', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'Supermercado One', cursive;
font-family: 'Bungee Outline', cursive;

font-family: 'Open Sans', sans-serif;

*/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    overflow-x: hidden;
    overflow-y: auto;
    /* background: #666F9A; */
    background: #666F9A;
    color: #ECECEC;
}

.blue-background{
    background: #666F9A;
}

.no-scroll {
    overflow-y: hidden;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}


.game {
    height: 100vh;
    justify-content: flex-end;
    padding-bottom: 5%;
}

#score {
    text-align: right;
    width: 60%;
    padding-right: 10px;
}

.scoreanimation {
    animation: score 0.4s alternate-reverse 1 ease;
}

@keyframes score {
    0% {font-size: 1.2em;}
    80% {font-size: 2.2em;}
    100% {font-size: 1.9em;
    color: #FF7373;}
}

#score,
#pause {
    margin: 0;
    padding-top: 10px;
    font-size: 1.5em;
    text-transform: uppercase;

}

#pause {
    text-align: left;
    width: 40%;
    padding-left: 10px;
}

#pause, 
#continue,
#quit {
    cursor: pointer;
}

#continue,
#quit {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.5em;
}


#pausescreen {
    width: 30vw;
    height: 100vh;
    z-index: 1000;
    background: #add8e6;
    text-align: center;
}

.pause-screen-animation {
    animation: pauseAnimation 0.8s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.continue-screen-animation {
    animation: continueAnimation 0.8s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes pauseAnimation {
    0%   {width: 0vw;}
    100% {width: 100vw;}
}

@keyframes continueAnimation {
    0%   {width: 100vw;}
    80%  {opacity: 1;}
    100% {width: 20vw;
        opacity: 0;}
}

.text-fade-in {
    animation: fadeIn 0.5s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text-fade-out {
    animation: fadeOut 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.top, 
.game, 
#start {
    width: 100%;
}

#start {
    text-align: center;
    padding: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.phone{
    display: none;
}

.how-title {
    color: #313131;
    text-transform: uppercase;

}

.tagline {
    color: #FF7373;
    text-transform: uppercase;
    font-size: 1.3em;
}


.how-to-play {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10px;
    /* border: 2px solid #FF7373; */
    border-radius: 5px;
    padding: 5%;
    background: #ECECEC;
    color: #313131;
    box-shadow: rgba(55, 60, 87, 0.2) 0px 2px 5px 5px;
}

.keyboard-buttons{
    width: 30%;
    max-width: 200px;
}

.space-button {
    width: 60%;
    max-width: 100%;
}

.space-button,
.keyboard-buttons {
    margin-bottom: 5%;
    color: #313131;
}



.header {
    font-size: 3vw;
    height: 10vh;
    color: #add8e6;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.pause-header {
    margin-top: 5%;
    font-size: 8vw;
    height: 10vh;
    margin-bottom: 10%;
    font-family: 'Luckiest Guy', cursive;
    color: #666F9A;
}


ul {
    padding: 0;
}

li {
   list-style: none;
   padding-top: 15px;
}

h1 {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 3%;
}

h3 {
    margin: 0 auto;
}



button {
    min-width: 10vw;
    padding: 4%;
    background: #FF7373;
    border: none;
    border-radius: 5px;
    color: #ECECEC;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: rgba(55, 60, 87, 0.1) 0px 2px 5px 5px;
    /* animation: pulse 3s alternate infinite ease-in-out; */
}

@keyframes pulse {
    0% {background: #FF7373;}
    100%   {background: #B73563;}
}
    

#total-score {
    margin-top: 10%;
    margin-bottom: 10%;
    /* border: 3px solid #add8e6; */
    border-radius: 5px;
    padding: 5%;
    text-transform: uppercase;
    background: #ECECEC;
    color: #313131;
    box-shadow: rgba(55, 60, 87, 0.2) 0px 2px 5px 5px;
}

.total-score{
    margin-top: 5%;
    font-size: 7em;
    color: #666F9A;
}

#alt0,
#alt1, 
#alt2 {
    justify-content: space-evenly;
    text-align: center;
    border-radius: 100px;
    background: #ECECEC;
    color: #313131;
    cursor: pointer;
}

#alt0:hover, 
#alt1:hover, 
#alt2:hover {
    background: #FF7373;
}

.gridcontainer {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100vh;
    padding-bottom: 20px;
}

.numbersbar {
    justify-content: space-around;
    position: relative;
    animation: down 5s linear;
    animation-iteration-count: 1;
}

.bottom {
    bottom: 0;
}


@keyframes down {
    0%   {top:-100px;}
    100% {top: 150%;}
}

#choose {
    width: 100%;
    height: 25%;
    bottom: 0px;
    justify-content: space-around;
    position: relative;
}

.numberstyle {
    width: 70px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: 500;
    user-select: none;
    color: #313131;
}

#topgame {
    height: 75%;
}

.partner,
.numbers{
    text-align: center;
    border-radius: 100px;
    margin-top: 5px;
}

.player,
.partner{
    background: #FF7373;
    text-align: center;
    border-radius: 100px;
}

/* .partner {
    background: lightblue;
} */

.empty {
    border: 2px solid #FF7373;
    border-radius: 100px;
}

.fixed {
    position: fixed;
}

.topbar {
    height: 10%;
    color: #ECECEC;
}

.gange {
    text-align: center;
    width: max-content;
    margin-top: 10%;
    animation: fadeIn 2s;
    animation-iteration-count: 1;
    /* font-family: 'Luckiest Guy', cursive; */
    color: #ECECEC;
    font-size: 1.2em;
}


.correct-answer-text {
    font-size: 1.7em;
    text-align: center;
    display: block;
    width: 100%;
    color: #FF7373;
}

@keyframes fadeIn {
    0%   {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.hidden {
    display: none;
}

/* PAUSE GAME */

.pausegame {
    animation-play-state: paused;
}

.text {
    color: #313131;
    text-transform: uppercase;
    font-weight: 700;
}




            /*-------------*/
            /* MEDIA QUERY */
            /*-------------*/


@media screen and (max-width: 800px) {

    body {
        font-size: 18px;
    }

    .game {
        padding-bottom: 10%;
    }

    .left, 
    .right {
        display: none;
    }

    .center {
        width: 100vw;
    }

    .header {
        font-size: 4vw;
    }

    #continue,
    #quit {
        font-size: 1.2em;
    }

    .desktop{
        display: none;
    }

    .phone{
        display: block;
    }

}



@media screen and (max-width: 500px) {

    body {
        font-size: 20px;
    }

    button {
        margin-top: 10px;
        font-size: 0.8em;
    }

    .game {
        padding-bottom: 0%;
    }
    
    .left, 
    .right {
        display: none;
    }

    .center {
        width: 100vw;
    }

    .header {
        font-size: 5vw;
    }

    #continue,
    #quit {
        font-size: 1em;
    }

    .pause-header {
        font-size: 15vw;
    }

    .numbersbar {
        justify-content: space-around;
        position: relative;
        animation: down 6s linear;
        animation-iteration-count: 1;
    }

    .desktop{
        display: none;
    }

    .phone{
        display: block;
    }

    .total-score{
        font-size: 5em;
    }

}






